body{
  font-family: "Roboto", "Arial" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/* HEADER */
header{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-link{
  transition: 5s ease;
}

.logo-link:hover{
  opacity: 0.6;
}

.logo-link:active{
  opacity: 0.2;
}

.header-links{
  display: flex;
  align-items: center;
}

.sitenav-links{
  list-style: none;
  display: flex;
  justify-content: space-between;
}


.sitenav{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease,
          opacity 0.4s ease;
}

.sitenav:hover{
  color: #FF7500;
}

.sitenav:active{
  opacity: 0.6;
}

.main-button{
  background-color: #ff7500;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.4s ease;
}

.main-button:hover{
  opacity: 0.8;
}

.main-button:active{
  opacity: 0.6;
}

/* HERO */
.hero{
  background-color: #252420;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hero-content{
  width: 390px;
}

.orange-line{
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero-heading{
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-size: 40px;
  line-height: 1.2;
}


/* FEATURES */

.features-heading{
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-size: 72px;
  line-height: 1.2;
  color: #000;
}

.features-list{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.feature{
  width: 340px;
}

.feature-icon-wrapper{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-title{
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
}

.feature-text{
  color: #000;
}


/* DISCOUNT */
.discount{
  background-color: #252420;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.discount-content{
  width: 440px;
}

.discount-heading{
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-size: 40px;
  line-height: 1.2;
}

.discount-highlight{
  color: #ff7500;
}

 /* SITE FOOTER */
.site-footer{
  background-color: #F8F8F8;
}

.site-footer-top{
  display: flex;
  justify-content: space-between;
}

.site-footer-socialmedias{
  display: flex;
}

.site-footer-socialmedias a{
  color: #252420;
}

.site-footer-socialmedias a:hover{
  color: #FF7500;
}

.site-footer-socialmedias a:active{
  opacity: 0.6;
}

.site-footer ul{
  list-style: none;
}

.site-footer-divider{
  width: 1100px;
  height: 2px;
  background-color: #000;
}

.site-footer-low{
  display: flex;
  justify-content: space-evenly;
}

.site-footer-links{
  width: 224px;
  line-height: 19px;
}


.site-footer-links a{
  color: #252420;
  text-decoration: none;
}

.site-footer-links a:hover{
  color: #FF7500;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
  }

  .site-footer-links a:focus{
    opacity: 0.6;
  }
