body{
  font-family: "Roboto", "Arial" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/* HEADER */
header{
  background-color: #fff;
}

.sitenav-links{
  list-style: none;
}

.sitenav{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.main-button{
  background-color: #ff7500;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  color: #fff;
}


/* HERO */
.hero{
  background-color: #252420;
  color: #FFFFFF;
}

.hero-content{
  width: 390px;
}

.orange-line{
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero-heading{
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-size: 40px;
  line-height: 1.2;
}


/* FEATURES */
.features-heading{
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-size: 72px;
  line-height: 1.2;
  color: #000;
}

.feature{
  width: 340px;
}

.feature-icon-wrapper{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-title{
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
}

.feature-text{
  color: #000;
}


/* DISCOUNT */
.discount{
  background-color: #252420;
  color: #FFFFFF;
}

.discount-content{
  width: 440px;
}

.discount-heading{
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-size: 40px;
  line-height: 1.2;
}

.discount-highlight{
  color: #ff7500;
}

.site-footer{
  background-color: #F8F8F8;
}

.site-footer ul{
  list-style: none;
}

.site-footer-divider{
  width: 1100px;
  height: 2px;
  background-color: #000;
}

.site-footer-links{
  width: 224px;
}

.site-footer a{
  line-height: 19px;
  color: #252420;
  text-decoration: none;
}
