*{
  box-sizing: border-box;
}

body{
  font-family: "Roboto", "Arial" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
}

*:focus{
outline: 2px dotted #FF7500;
outline-offset: 3px;
}

/* CONTAINER */
.container{
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
padding-left: 20px;
padding-right: 20px;
}

.site-header-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* HEADER */
header{
  background-color: #fff;
  border-top: 5px solid #FF7500;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-link{
  transition: opacity 0.4s ease;
}

.logo-link:hover{
  opacity: 0.8;
}

.logo-link:active{
  opacity: 0.6;
}

.logo-link img{
  display: block;
}

.header-links{
  display: flex;
  align-items: center;
}

.sitenav-links{
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-right: 32px;
}

.sitenav-item{
  margin-right: 32px;
}

.sitenav-item:last-child{
  margin-right: 0;
}


.sitenav{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease,
          opacity 0.4s ease;
}

.sitenav:hover{
  color: #FF7500;
}

.sitenav:active{
  opacity: 0.6;
}

.main-button{
  background-color: #ff7500;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.4s ease;
  padding: 12px 24px;
  border-radius: 4px;
}

.main-button:hover{
  opacity: 0.8;
}

.main-button:active{
  opacity: 0.6;
}

/* HERO */
.hero{
  background-color: #252420;
  color: #FFFFFF;
}

.hero-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hero-content{
  width: 390px;
}

.hero img{
  border-radius: 8px;
  box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
}

.orange-line{
  width: 80px;
  height: 3px;
  background-color: #ff7500;
  border: opx;
  margin: 0;
  margin-bottom: 40px;
}

.hero-heading{
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-size: 40px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 24px;
}

.hero-text{
  margin-top: 0;
  margin-bottom: 32px;
}


/* FEATURES */

.features-heading{
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-size: 72px;
  width: 440px;
  margin-top: 0;
  margin-bottom: 68px;
  line-height: 1.2;
  color: #000;
}

.features-list{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature{
  width: 340px;
  margin-right: 40px;
}

.feature:last-child{
  margin-right: 0;
}

.feature-icon-wrapper{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-title{
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
}

.feature-text{
  color: #000;
  margin: 0;
}


/* DISCOUNT */
.discount-container{
  padding-top: 120px;
  padding-bottom: 160px;
}

.discount{
  background-color: #252420;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 12px;
}

.discount img{
  border-radius: 12px;
}

.discount-content{
  width: 440px;
}

.discount-heading{
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-size: 40px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 24px;
}

.discount-info-wrapper{
  margin-top: 0;
  margin-bottom: 24px;
}

.discount-text{
  margin-top: 0;
  margin-bottom: 12px;
}

.discount-text:last-child{
  margin-bottom: 0;
}

.discount-highlight{
  color: #ff7500;
}

 /* SITE FOOTER */
.site-footer{
  background-color: #F8F8F8;
}

.site-footer-top{
  display: flex;
  justify-content: space-between;
}

.site-footer-socialmedias{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.site-footer-socialmedias li{
margin-right: 16px;
}

.site-footer-socialmedias li:last-child{
  margin-right: 0;
}

.site-footer-socialmedias a{
  color: #252420;
  display: block;
}

.site-footer-socialmedias a:hover{
  color: #FF7500;
}

.site-footer-socialmedias a:active{
  opacity: 0.6;
}

.site-footer-socialmedias svg{
  display: block;
}

.site-footer ul{
  list-style: none;

}

.site-footer-divider{
  width: 1100px;
  height: 2px;
  background-color: #000;
  border: opx;
  margin-top: 40px;
  margin-bottom: 64px;
}

.site-footer-low{
  display: flex;
  justify-content: space-evenly;
}

.site-footer-links{
  width: 224px;
  line-height: 19px;
  padding: 0;
  margin: 0;
  margin-right: 68px;
}

.site-footer-links:last-child{
  margin-right: 0;
}


.site-footer-links a{
  color: #252420;
  text-decoration: none;
}

.site-footer-links a:hover{
  color: #FF7500;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
  }

  .site-footer-links a:active{
    opacity: 0.6;
  }
